.venv/
venv/
env/
.env
.env.*

__pycache__/
*.py[cod]
*.pyo
*.pyd

.pytest_cache/
.mypy_cache/
.ruff_cache/

.idea/
.vscode/

dist/
build/
*.egg-info/

.DS_Store
Thumbs.db

uv.lock
.python-version

/infras/data/
/infras/config/__pycache__/


